<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/style.css" rel="stylesheet">

</head>
<body>
    <nav class = "navbar">
        <a href = "index.html" class = "nav-logo">HelpUS</a>
    <ul>
        <li><a href = "index.html">Home</a></li>
        <li><a href="HotRightNow.html">Trending Items</a></li>
        <li><a href = "AllTimeHigh.html">Surging Value</a></li>
        <li><a href = "AllTimeLow.html">Grab a bargain!</a></li>
        <li><a href = "UserItems.html">Check your items!</a></li>
        <li><a href = "CheckItems.html">Search for items!</a></li>
    </ul>
    
    <h1 class="center">Trending Items</h1>
    <p class="center fontSize paddingBottom">This section shows you trending items. Trending items are easier to sell, but it is harder to make a profit, so be careful. </p>

    <div class="grid-container" id="container"></div>

        <script type="module" src="/client-side/HotRightNow.js"> </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</body>
</html>