<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <met<!-- particles.js container -->
        <div id="particles-js"></div> <!-- stats - count particles -->
        <div class="count-particles"> <span class="js-count-particles">--</span> particles </div> <!-- particles.js lib - https://github.com/VincentGarreau/particles.js -->
        <script src="http://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script> <!-- stats.js lib -->
        <script src="http://threejs.org/examples/js/libs/stats.min.js"></script>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/style.css" rel="stylesheet">

</head>
<body>
    <div id="particles-js">
    <div class="count-particles"> <span class="js-count-particles">--</span></div>
    <nav class = "navbar">
        <a href = "index.html" class = "nav-logo">HelpUS</a>
    <ul>
        <li><a href = "index.html">Home</a></li>
        <li><a href="HotRightNow.html">Trending Items</a></li>
        <li><a href = "AllTimeHigh.html">Surging Value</a></li>
        <li><a href = "AllTimeLow.html">Grab a bargain!</a></li>
        <li><a href = "UserItems.html">Check your items!</a></li>
        <li><a href = "CheckItems.html">Search for items!</a></li>
        
    </ul>
    <br>
    <main>
        <div class="content logo">
            <h1 class="center">Welcome!</h1>
            <h2>We are here to help you make money with skins</h2>
            
        </div>
        <div>
            <img src = "/images/26ad3e575a90cfb7832120a13c42d1e2--graphic-design-logos-minimal.png" class="logo">
        </div>
    </main>

<script src="http://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script> <!-- stats.js lib -->
<script src="http://threejs.org/examples/js/libs/stats.min.js"></script>
<script type="text/javascript" src="/particles.js"></script>
<script type="text/javascript" src="/app.js"></script>


</body>
</html>